In [12]:
import pandas as pd
df = pd.read_csv("/home/davide/PycharmProjects/miosito/media_polarity.csv")

In [13]:
df

  new_date_column  Donald Trump  Joe Biden  Kanye West
0      2020-07-11      0.074225        NaN    0.102303
1      2020-07-12      0.037072   0.029050    0.024907
2      2020-07-13      0.005964   0.121669   -0.009373
3      2020-07-14      0.020027   0.076297    0.006980
4      2020-07-15      0.020888   0.030349    0.005231

In [22]:
date=list(df['new_date_column'].values)
date

['2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15']

In [21]:
values_trump=list(df['Donald Trump'].values)

In [19]:
values_trump

[0.07422472200947193,
 0.03707184327611951,
 0.005964211455211451,
 0.020026795183982784,
 0.020887962562129225]

In [8]:
values = list(rs.values)

In [9]:
values

[37.316, 18.78, 53.498000000000005, 8.588]

In [24]:
import pandas as pd

rs_pie=pd.read_csv("/home/davide/PycharmProjects/miosito/data_for_pie.csv")

In [26]:
pieTrump=list(rs_pie['trump'])

22.69648249408308

In [31]:
neg=(pieTrump[0])
net=(pieTrump[1])
pos=(pieTrump[2])

TypeError: 'float' object is not iterable

0    20.303030
1    34.823232
2    44.873737
Name: biden, dtype: float64

In [19]:
rs_pie.index=rs_pie['sign']

In [20]:
rs_pie.index

Index(['negative', 'neutral', 'positive'], dtype='object', name='sign')